.todo {
  display: flex;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

}

.todo:nth-child(even) {
  background-color: #eee;
}

.todo:last-of-type {
  border-bottom: 0;
  margin: auto;
}

.todo .id {
  flex: 1 1 50px;
  margin: auto;
}

.todo .content {
  flex: 1 1 100%;
}

.todo.done .content {
  text-decoration: line-through;
}
.todo.done{
	background-color: rgb(152, 247, 152);
}

.todo-input {
  display: block;
  width: 70%;
  padding: 10px 15px;
  appearance: none;
  border: 1px solid black;
  background-color: #f3f3f3;
  margin-top: 15px;
  font-size: 20px;
  outline: none;
  text-align: center;
  margin: auto;
  height: 100px;
  border-radius: 5px;
}

.todo-submit {
  display: block;
  width: 100%;
  max-width: 200px;
  appearance: none;
  border: none;
  outline: none;
  background: none;

  background-color: #fe4880;
  color: #fff;
  margin: 15px auto;
  border-radius: 5px 25px 5px 25px;

  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
}
.delete {
  width: 120px;
  height: 40px;
}
.content {
  margin: auto;
}
